<a href="https://colab.research.google.com/github/Dakshu3010/mySecondLab.ipynb/blob/main/mySecondLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=0b1010
b=100
c=0o310
d=0x12c
float_1=10.5
float_2=1.5e2
x=3.14j
print(a,b,c,d)
print(float_1,float_2)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [2]:
strings="This is Python"
char="C"
multiline_str="""This is a multiline string with more than one line code"""
unicode=u"\u00dcnic\u00f6de"
raw_str=r"raw \n string"
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code
Ünicöde
raw \n string

In [14]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [31]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

In [30]:
fruits = ["apple", "mango", "orange"]
numbers = (1, 2, 3)
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'}
vowels = {'a', 'e', 'i' , 'o', 'u'}

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'e', 'a', 'i', 'o', 'u'}

In [33]:
value1=eval(input('Enter first number'))
value2=eval(input('Enter second number'))
sum=value1+value2
print(value1,'+',value2,'=',sum)

Enter first number130
Enter second number710
130 + 710 = 840

In [35]:
x=7
y=10
x+y

17

In [39]:
x="1"
y="30"
x+y

'130'

In [40]:
x=31
y=30
x-y

1

In [42]:
x=17
y=31
x*y

527

In [44]:
x="130"
y=17
x*y

'130130130130130130130130130130130130130130130130130'

In [46]:
x=31
y="17"
x*y

'17171717171717171717171717171717171717171717171717171717171717'

In [50]:
x=130
y=30
x/y

4.333333333333333

In [52]:
x=130
y=30
x//y

4

In [54]:
x=10
y=10
x%y

0

In [55]:
x**y

10000000000

In [73]:
x=2
x=x+2

In [74]:
x

4

In [76]:
x=x+2

In [77]:
x

6

In [79]:
x*4

24

In [80]:
x=130
y=710
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)
print('x**y=',x**y)

x+y= 840
x-y= -580
x*y= 92300
x/y= 0.18309859154929578
x//y= 0
x**y= 7939262067952716268634324287744205305373373612897649304667878229242318156176883218276317428975539264818646384125002255172105340107656563925482497571404105869774282864044261609786327348780970324683235880209038505102815355592423906351759076748293729575544225328953183743235984179168023248868194818997027959128269835923681195535242383103555651796298371575237972749572744742166779090738290494508670791735357709085160558309815901469298310792408946352744652291728678375451019041824113307352908256750545563404597015306871892750356905578981792746595235736053077092371482439201034506931743276166767430876649777352784327599077366780166118163439570080121978075049531104062416146337803864937560011015700679153959453315906911572092255190606568667577486795519411462123835710883939186524035858650726363384900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [84]:
print ("Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit")
n1 = input("Enter the choice of operation :")
n = int(n1)
if (n == 1):
    print (" You have chosen addition Option :")
    a1 = input(" Enter the value for A :")
    b1 = input(" Enter the value for B :")
    a = int(a1)
    b = int(b1)
    c = a + b
    print ("The Result",a,"+",b,"=",c)
elif (n == 2):
    print (" You have chosen subtraction Option :")
    a1 = input(" Enter the value for A :")
    b1 = input(" Enter the value for B :")
    a = int(a1)
    b = int(b1)
    c = a - b
    print ("The Result",a,"-",b,"=",c)
elif (n == 3):
    print (" You have chosen division Option :")
    a1 = input(" Enter the value for A :")
    b1 = input(" Enter the value for B :")
    a = int(a1)
    b = int(b1)
    c = a / b
    print ("The Result",a,"/",b,"=",c)
elif (n == 4):
    print (" You have chosen multiplication Option :")
    a1 = input (" Enter the value for A :")
    b1 = input (" Enter the value for B :")
    a = int (a1)
    b = int (b1)
    c = a * b
    print ("The Result",a,"*",b,"=",c)
elif (n==5):
    print (" You have given a wrong :",n)
    exit ()

Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit
Enter the choice of operation :1
 You have chosen addition Option :
 Enter the value for A :130
 Enter the value for B :710
The Result 130 + 710 = 840

In [86]:
x=20+20.5
print("+ operator is Evaluated=",x)

+ operator is Evaluated= 40.5

In [87]:
x=200+20.0*5
print("* operator is Evaluated=",x)

* operator is Evaluated= 300.0

In [88]:
x=20+20/2*5
print("/ operator is Evaluated=",x)

/ operator is Evaluated= 70.0

In [89]:
x=100*5+(10%2**1)
print(x)

500

In [90]:
x=10
x+=1
print(x)

11

In [91]:
x=10
x-=1
print(x)

9

In [92]:
x=5
x*=5
print(x)

25

In [96]:
print (" Fibonacci Series")
n1 = input("Enter the number : ")
n = int(n1)
if (n>0):
    f = 0
    s = 1
    i = 0
    next = 0
    while (1):
        print ("\n\n*******************************************")
        for i in range (n+1):
            if (i <= 1):
                print(i)
            else:
                next = f + s
                f = s
                s = next
                print (next)
        i = i + 1
        break
else:
 print (" You have entered wrong input", n)

 Fibonacci Series
Enter the number : 7


*******************************************
0
1
1
2
3
5
8
13

In [97]:
colors=['red',
        'blue',
        'green']
print(colors)

['red', 'blue', 'green']

In [107]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
SumValue=(num1-num2)
print("the sum of the given number is",SumValue)

Enter first number710
Enter second number130
the sum of the given number is 580

In [108]:
x = 10
y = 12

print('x > y is',x>y)

print('x < y is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [109]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [110]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)

False
True
False

In [111]:
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)

print('hello' not in x)

print(1 in y)

print('a' in y)

True
True
True
False

In [112]:
a=10
b=4
k=a&b
print(k)

0

In [113]:
a=10
b=4
a|b
print(a|b)

14

In [114]:
a=10
b=4
print("~a =",~a)

~a = -11

In [115]:
a=10
b=-10
print("a>>1=",a>>1)
print("b>>1=",b>>1)

a>>1= 5
b>>1= -5